<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pptx</string>
	<string>M14.3-7042.0.76-4</string>
	<string>M14.4-7043.0.93-4</string>
	<string>G-r1440-14E137</string>
	<string>G-r1520-15B75</string>
	<string>M15.2-7046.0.71-2</string>
</array>
</plist>
